html#index {
  font-size: 20px;
}
html#course {
  font-size: 16px;
}
.container {
  max-width: 1128px;
  padding-left: 24px;
  padding-right: 24px;
  width: 100%;
  margin: 0 auto;
}
header {
  padding: 24px 0;
}
header h1 {
  margin-bottom: 0;
}
header > div {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
nav a {
  padding: 4px 10px;
  margin-left: 10px;
  color: gray;
  font-size: 20px;
}
.selected {
  font-weight: bold;
}
.selected, .primary {
  color: #00b5ad;
}
.secondary {
  color: gray;
}
#practice-link {
  background-color: white !important;
  font-weight: bold !important;
  border-width: 3px !important;
}
body {
  font-size: 1rem;
}
h1 {
  font-size: 44px;
}
section {
  padding: 64px 0;
}
.hero .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero .container > * {
  flex: 500px 0 0;
}
.shadow {
  box-shadow: 0px 12px 34px -21px black;
}
#contact-link {
  margin-top: 20px;
}
.hero-figure {
  display: flex;
  justify-content: center;
  align-items: center;;
}
.slide:not([slide="1"]) {
  display: none;
}
#left, #right {
  margin: 0 10px;
}
#display-screen {
  width: 400px;
  border: solid 1px lightgray;
}
#rubric-holder {
  height: 400px;
  width: 400px;
  background-color: white;
  padding: 20px;
}
#rubric-holder {
  font-size: 0.8em;
  overflow-y: auto;
}
small {
  font-style: italic;
  font-weight: lighter;
}
#exam-overview {
  display: flex;
}
#rubric-holder h4 {
  margin-bottom: 8px;
}
#rubric-holder h5 {
  margin-top: 14px;
  margin-bottom: 0px;
}
.exam-info {
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.exam-info img {
  height: 36px;
  margin-right: 6px;
}

#statements {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-right: -30px;
}
.statement {
  flex-basis: 0;
  flex-grow: 1;
  margin-right: 30px;
  text-align: center;
}
.statement img {
  height: 90px;
  margin: 0 auto;
}
.statement p {
  font-size: 0.9rem;
  text-align: left;
}
#contact-box {
  background-color: #f5f5f5;
  padding: 20px;
  overflow: auto;
}
#submit {
  float: right;
}

.btn-divider {
  display: inline-block;
  border-right: solid 1px gray;
  margin: 0 7px 0 2px;
}
.three-col {
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
}
#course_select {
  margin-top: 10px;
  font-weight: bold;
}
#langs-dd {
  margin: 0 !important;
}
#main-page {
  background-color: white;  
  margin-bottom: 60px;
  padding: 20px 40px 40px;
}
#main-page button {
  margin-bottom: 16px;
}
#main-page h2 {
  padding-top: 20px;
}
#main-page h3 {
  margin-top: 16px;
}
@media (min-width: 641px) {
  header {
    position: relative;
  }
  header::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 700px;
      background: #F5F5F5;
      -webkit-transform-origin: 0;
      transform-origin: 0;
      -webkit-transform: skewY(-12deg);
      transform: skewY(-12deg);
      z-index: -1;
  }
}